<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Availability</th>
							<th style="width:22%" class="text-center"></th>
							<th style="width:10%">Subtotal</th>
						</tr>
					</thead>
					<tbody>
                    {% for product in products %}
						<tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="{{ product.image }}" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">{{ product.name }}</h4>
										<p>{{ product.description }}.</p>
									</div>
								</div>
							</td>
							<td data-th="Price">${{ product.price }}</td>
							<td data-th="Quantity">
								<p>In Stock</p>
							</td>
							<td data-th="Subtotal" class="text-center">{{ product.price }}$</td>
							<td class="actions" data-th="">
								<a href="{{url_for('remove', pid=product.id)}}"><button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button></a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Total {{ total }}</strong></td>
						</tr>
						<tr>
							<td><a href="{{url_for('home')}}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total ${{ total }}</strong></td>
							<td><a id="checkout-button" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
							<script type="text/javascript">
      // Create an instance of the Stripe object with your publishable API key
      var stripe = Stripe('pk_test_TYooMQauvdEDq54NiTphI7jx');
      var checkoutButton = document.getElementById('checkout-button');

      checkoutButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch('/create-checkout-session', {
          method: 'POST',
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });
    </script>
						</tr>
					</tfoot>
				</table>
</div>
</body>
</html>